
html, body {
    height: 100%;
}

.container-fluid {
    height: 100%;
    overflow-y: auto;
}

#carepdf{
    height:100%;
    overflow-y: auto;
    margin-left: 0px;
    margin-right: 0px
}

.pdfobject{
    height: 99% !important;
}

#timer-bar {
    height: 50px;
    font-size: 50px;
}

#timer{
    margin-top: 0px;
}

#pdfcolumn{
    height: 100%;
}

.row{
    height: 100%;
}

.step {
    font-size: 50px;
}

.tile {
    height: 100px;
    background-color: cadetblue;
    padding: 5px;
    margin: 5px;
}

.age-group {
    display: none;
}

.active {
    display: block;
}


/* #carepdf {
    height: 950px;
}

*/